.burger {
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 30px;
}
.bar1 {
    height: 25%;
    background-color: black;
}
.bar2 {
    height: 25%;
    background-color: black;
    margin-top: 12.5%;
}
.bar3 {
    height: 25%;
    background-color: black;
    margin-top: 12.5%;
}
